@media (min-width: 1150px) {
	.container {
		width: 70%;
		max-width: 960px;
		margin: 0 auto;
	}

	.wrapper-main {
		width: 70%;
		max-width: 960px;
		margin: 0 auto;
	}

	#form-submit-rest {
		width: 65%;
		max-width: 875px;
		margin: 10 auto;
	}
}

@media (max-width: 1150px) {
	.container {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.wrapper-main {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;
	}

	#form-submit-rest {
		width: 75%;
		max-width: 1000px;
		margin: 10 auto;
	}

	/* .wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		overflow: hidden;
	} */

}

@media (max-width: 660px) {
	.container {
		width: 98%;
		margin: 0 auto;
	}

	.title {
		vertical-align: center;
	}

	.wrapper-main {
		width: 98%;
		margin: 0 auto;
	}

	article {
		align-content: center;
	}

	/* button div {
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.button_address {
		display: inline;
		text-align: center;
	} */

	.wrapper-button {
		text-align: center;
		justify-content: center;
	}

	#form-submit-rest {
		width: 94%;
		margin: 0 auto;
	}
}