*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

h1 {
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.fluer {
    height: 75px;
}

.header > * {
    vertical-align: middle;
    white-space: nowrap;
}

header {
    background-color: #010066; /*  official kentucky blue color  */
}

.headerBackground {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.navbar {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 1px;
}

a.headerlinks {
    color: white
}

a.headerlinks:visited {
    color: white;
}

/*  main Styles  */

body {
    width: 800px;
    margin: 0 auto;
    background-image: url("../img/wood-texture1.jpg");
}

main {
    background-image: url("../img/100px_background.jpg");
    background-repeat: repeat;
    padding: 10px;
}

article {
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: black solid 3px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.first {
    width: 300px;
    float: left;
}

.last {
    width: 250px;
    float: right;
}

.middle {
    /*overflow: hidden;*/
    margin: 0 auto;
    
}

th {
    text-align: right; /* test */
}

td {
    padding-left: 5px;
}

tr:hover {
    background-color: #d2e0ff;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.hours {
    margin-top: 10px;
}

.hoursHeader {
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
}

.storeHeader {
    height: 150px;
    overflow: hidden;
}

.storeImg {
    height: 125px;
}

.storeImgWrapper {
    float: left;
}

.storeTxtWrapper {
    overflow: hidden;
}

.storeTxt {
    margin-right: 10px;
    text-align: right;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    height: 200px;
    background-color: #010066; /*  official kentucky blue color  */
    color: white;
    padding: 10px;
    text-align: center;
}

.footerText {
    vertical-align: middle;
}

.emailLink {
    color: white;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #adadad;
    border-radius: 8px;
  }

.formheader {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
  }

label.light {
    font-weight: 300;
    display: inline;
  }

.inputElement {
    margin-bottom: 30px;
}

table {
    color: #010066;
}

button {
    padding: 15px 35px;
    background-color: #eee;
    color: #010066;
    font-size: 24px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    border: 2px solid #010066;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .button_address {
      font-size: 18px;
  }

  .accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
      background-color: #ccc;
  }

  .submitLogo {
      max-width: 180px;
  }

  input[type=file] {
      padding: 10px;
  }

  fieldset {
      margin-bottom: 30px;
      border: none;
  }

  legend {
      font-size: 1.4em;
      margin-bottom: 10px;
  }

  .number {
    background-color: #ffe24b;
    color: #b18d05;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

  .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
  }

  @media screen and (min-width: 480px) {

    form {
      max-width: 480px;
    }
  
  }